/dist/**
/lib/**
/es/**
/node_modules/**
/public/**
/notes/**
/flow-typed/
/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
.vscode
!.eslintrc.js
packages/*/lib
./repo-coooker.js
**/*.min.js
**/bundle.js
**/coverage/
**/vendor/
*.d.ts
packages/*/**/node_modules/
packages/*/**/lib/
packages/*/**/es/
packages/*/**/dist/
**/dist-*/
