/coverage
/demo/dist
/temp/

node_modules/
*.log
.idea/
packages/site/build
package-lock.json
.DS_Store
.cache
.vsCode
public/
notes/
dist/
packages/*/lib
yarn.lock
lerna-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.changelog
/.docz
/flow-typed/
/pkg/
packages/playground/
packages/type/
dev-packages/aux-configs/api/build.js
dev-packages/aux-configs/api/lint.js
dev-packages/aux-configs/assets/babel.js
dev-packages/aux-configs/assets/rollup.js
dev-packages/aux-configs/assets/rollup2.js
dev-packages/aux-configs/assets/webpack.js
dev-packages/aux-configs/cli/auxd.js
dev-packages/aux-configs/package.json
dev-packages/aux-configs/pre/api/build.js
dev-packages/aux-configs/pre/api/lint.js
dev-packages/aux-configs/pre/assets/rollup.js
dev-packages/aux-configs/pre/cli/auxd.js
dev-packages/aux-configs/pre/shared/asset.js
dev-packages/aux-configs/pre/shared/context.js
dev-packages/aux-configs/pre/shared/dialog.js
dev-packages/aux-configs/pre/shared/fs.js
dev-packages/aux-configs/pre/shared/ifempty.js
dev-packages/aux-configs/pre/shared/index.js
dev-packages/aux-configs/pre/shared/nofail.js
dev-packages/aux-configs/pre/shared/packages.js
dev-packages/aux-configs/pre/shared/pretty.js
dev-packages/aux-configs/pre/shared/print.js
dev-packages/aux-configs/pre/shared/relink.js
dev-packages/aux-configs/pre/shared/spawn.js
dev-packages/aux-configs/pre/shared/stringify.js
dev-packages/aux-configs/pre/shared/unicornfig.js
dev-packages/aux-configs/pre/shared/version.js
dev-packages/aux-configs/shared/asset.js
dev-packages/aux-configs/shared/context.js
dev-packages/aux-configs/shared/dialog.js
dev-packages/aux-configs/shared/fs.js
dev-packages/aux-configs/shared/ifempty.js
dev-packages/aux-configs/shared/index.js
dev-packages/aux-configs/shared/nofail.js
dev-packages/aux-configs/shared/packages.js
dev-packages/aux-configs/shared/pretty.js
dev-packages/aux-configs/shared/print.js
dev-packages/aux-configs/shared/relink.js
dev-packages/aux-configs/shared/spawn.js
dev-packages/aux-configs/shared/stringify.js
dev-packages/aux-configs/shared/unicornfig.js
dev-packages/aux-configs/shared/version.js
dev-packages/aux-configs/src/api/build.ts
dev-packages/aux-configs/src/api/lint.ts
dev-packages/aux-configs/src/assets/babel.ts
dev-packages/aux-configs/src/assets/eslint.js
dev-packages/aux-configs/src/assets/rollup.ts
dev-packages/aux-configs/src/assets/rollup2.ts
dev-packages/aux-configs/src/assets/webpack.ts
dev-packages/aux-configs/src/cli/auxd.ts
dev-packages/aux-configs/src/shared/asset.ts
dev-packages/aux-configs/src/shared/context.ts
dev-packages/aux-configs/src/shared/dialog.ts
dev-packages/aux-configs/src/shared/fs.ts
dev-packages/aux-configs/src/shared/ifempty.ts
dev-packages/aux-configs/src/shared/index.ts
dev-packages/aux-configs/src/shared/nofail.ts
dev-packages/aux-configs/src/shared/packages.ts
dev-packages/aux-configs/src/shared/pretty.ts
dev-packages/aux-configs/src/shared/print.ts
dev-packages/aux-configs/src/shared/relink.ts
dev-packages/aux-configs/src/shared/spawn.ts
dev-packages/aux-configs/src/shared/stringify.ts
dev-packages/aux-configs/src/shared/unicornfig.ts
dev-packages/aux-configs/src/shared/version.ts
dev-packages/aux-configs/src/stringify.ts
dev-packages/aux-configs/src/types.ts
dev-packages/aux-configs/stringify.js
dev-packages/aux-configs/tsconfig.json
dev-packages/aux-configs/types.js
dev-packages/aux-scripts/bin/aux.js
dev-packages/aux-scripts/package.json
dev-packages/aux-scripts/src/getDirectoryNames.ts
dev-packages/aux-scripts/src/index.ts
dev-packages/aux-scripts/tsconfig.json
dev-packages/babel-preset/.npmignore
dev-packages/babel-preset/index.js
dev-packages/babel-preset/package.json
dev-packages/eslint-config/.eslintignore
dev-packages/eslint-config/.eslintrc.js
dev-packages/eslint-config/.npmignore
dev-packages/eslint-config/index.js
dev-packages/eslint-config/package.json
dev-packages/eslint-config/patches/eslint-find-rules+3.3.1.patch
dev-packages/eslint-config/scripts/all-plugins.json
dev-packages/eslint-config/scripts/generateTypes.ts
dev-packages/eslint-config/scripts/removePrivate.js
dev-packages/eslint-config/scripts/tsconfig.json
dev-packages/eslint-config/src/index.ts
dev-packages/eslint-config/src/plugins/eslint-base.ts
dev-packages/eslint-config/src/plugins/eslint-comments.ts
dev-packages/eslint-config/src/plugins/import.ts
dev-packages/eslint-config/src/plugins/jest.ts
dev-packages/eslint-config/src/plugins/react.ts
dev-packages/eslint-config/src/plugins/typescript.ts
dev-packages/eslint-config/src/react.ts
dev-packages/eslint-config/tsconfig.json
dev-packages/eslint-config/types/eslint-config.d.ts
dev-packages/eslint-config/types/eslint-find-rules.d.ts
dev-packages/eslint-config/types/eslint-restricted-globals.d.ts
dev-packages/example-dependency/.eslintrc.js
dev-packages/example-dependency/dist-node/index.js
dev-packages/example-dependency/dist-node/index.js.map
dev-packages/example-dependency/dist-types/index.d.ts
dev-packages/example-dependency/dist-types/index.d.ts.map
dev-packages/example-dependency/dist-web/index.js
dev-packages/example-dependency/dist-web/index.js.map
dev-packages/example-dependency/package.json
dev-packages/example-dependency/src/index.ts
dev-packages/example-dependency/tsconfig.json
dev-packages/example-dependency/tsconfig.tsbuildinfo
dev-packages/example-rollup/.eslintignore
dev-packages/example-rollup/.eslintrc.js
dev-packages/example-rollup/.prettierignore
dev-packages/example-rollup/dist-node/index.js
dev-packages/example-rollup/dist-node/index.js.map
dev-packages/example-rollup/dist-types/index.d.ts
dev-packages/example-rollup/dist-web/index.js
dev-packages/example-rollup/dist-web/index.js.map
dev-packages/example-rollup/package.json
dev-packages/example-rollup/src/index.ts
dev-packages/example-rollup/tsconfig.json
dev-packages/example-rollup/tsconfig.tsbuildinfo
dev-packages/prettier-config/.npmignore
dev-packages/prettier-config/index.js
dev-packages/prettier-config/package.json
dev-packages/typescript/.npmignore
dev-packages/typescript/index.json
dev-packages/typescript/package.json
